html {
    scroll-behavior: smooth; 
}

body {
    background-image: url('images/caset.jpg');
    background-repeat: repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #b22222;
    padding: 20px 0;
    text-align: center;
    font-family: Cochin;
}

header h1 {
    margin: 0;
    font-size: 3em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.mood-category {
    background-color: #c0e6ba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}
.mood-category:hover {
    transform: scale(1.05);
    background-color: #4ca771;
}
.mood-category img {
    width: 100%;
    border-radius: 10px;
    color: azure;
}
.mood-category h2 {
    font-size: 1.5em;
    margin: 15px 0;
}
.song-list {
    text-align: left;
    margin-top: 20px;
}
.song-item {
    margin-bottom: 15px;
}
.song-item h3 {
    font-size: 1.2em;
    margin: 5px 0;
}
.song-item p {
    font-size: 0.9em;
    color: #ffffff;
    margin: 0 0 10px 0;
}
.song-item audio {
    width: 100%;
}
footer {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 20px;
   margin-top: 50px;
    width: 100%;
    bottom: 0;
}
.mood-category button {
    background-color: #eae0c8;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.mood-category button:hover {
    background-color: #e64a19;
}

.btn {
    text-decoration: none;
    padding: 0.5rem;
    color: #eae6e6;
    border-radius: 15px;
    background-color: #013237;
  }
  
h6 {
    background-color: #333;
    color: white;
}
.text{
    text-align: center;
    color: #ffffff;
    background-color: #c0e6ba;
    font-family: gothic medium;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: large;
}